# Importing libraries, Examining data

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Uploading csv

originaldf = pd.read_csv('https://raw.githubusercontent.com/Bomsk/DA3_2023/main/Assignment%201/morg-2014-emp.csv?token=GHSAT0AAAAAACMSJ4X4SZCXPWSOLSNWGV36ZNDJ5IA')

In [4]:
originaldf.head()

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,ownchild,chldpres,prcitshp,state,ind02,occ2012,class,unionmme,unioncov,lfsr94
0,3,2600310997690,January,AL,3151.6801,1692.00,40,43,1,NaN,...,0,0,"Native, Born In US",63,Employment services (5613),630,"Private, For Profit",No,No,Employed-At Work
1,5,75680310997590,January,AL,3457.1138,450.00,40,41,2,NaN,...,2,6,"Native, Born In US",63,Outpatient care centers (6214),5400,"Private, For Profit",No,No,Employed-Absent
2,6,75680310997590,January,AL,3936.9110,1090.00,60,41,2,NaN,...,2,6,"Native, Born In US",63,Motor vehicles and motor vehicle equipment man...,8140,"Private, For Profit",No,No,Employed-At Work
3,10,179140131100930,January,AL,3288.3640,769.23,40,40,1,NaN,...,2,4,"Native, Born In US",63,"**Publishing, except newspapers and software (...",8255,"Private, For Profit",Yes,NaN,Employed-At Work
4,11,179140131100930,January,AL,3422.8500,826.92,40,43,1,NaN,...,2,4,"Native, Born In US",63,"Banking and related activities (521, 52211,52219)",5940,"Private, For Profit",No,No,Employed-At Work

In [6]:
# Filtering for Computer and mathematical science occupations
# code: 1000-1240

df = originaldf[(originaldf['occ2012'] >= 1000) &    
                (originaldf['occ2012'] <= 1240)] 

df

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,ownchild,chldpres,prcitshp,state,ind02,occ2012,class,unionmme,unioncov,lfsr94
16,33,731019430119001,January,AL,2992.1015,1538.46,40,43,2,NaN,...,0,0,"Native, Born In US",63,"Electric power generation, transmission and di...",1006,"Private, For Profit",No,No,Employed-At Work
155,346,673032906039520,January,AK,411.5571,1346.15,40,39,3,NaN,...,0,0,"Native, Born In US",94,Executive offices and legislative bodies (9211...,1030,Government - Local,No,No,Employed-At Work
293,651,207004430306994,January,AZ,3410.8853,2500.00,40,44,4,NaN,...,0,0,"Foreign Born, US Cit By Naturalization",86,Computer systems design and related services (...,1020,"Private, For Profit",No,No,Employed-At Work
296,657,236096309400800,January,AZ,3916.3279,2500.00,40,43,4,NaN,...,2,10,"Foreign Born, US Cit By Naturalization",86,Business support services (5614),1020,"Private, For Profit",No,No,Employed-At Work
324,724,914299270769003,January,AZ,5115.4707,1250.00,45,43,1,NaN,...,0,0,"Native, Born In US",86,Computer systems design and related services (...,1020,"Private, For Profit",No,No,Employed-At Work
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149003,316454,207506700510944,December,WI,3480.7339,1364.50,40,43,1,NaN,...,0,0,"Native, Born In US",3,Computer systems design and related services (...,1010,"Private, For Profit",No,No,Employed-At Work
149060,316553,55621016909598,December,WI,417.4886,1673.07,40,43,1,NaN,...,1,4,"Native, Born In US",3,"Navigational, measuring, electromedical, and c...",1020,"Private, For Profit",No,No,Employed-At Work
149074,316585,165596089500912,December,WI,371.3748,1750.00,43,43,1,NaN,...,0,0,"Native, Born In US",3,Computer systems design and related services (...,1050,"Private, For Profit",No,No,Employed-At Work
149137,316694,706900345996715,December,WI,2364.8294,1634.61,40,43,1,NaN,...,3,8,"Native, Born In US",3,Computer systems design and related services (...,1020,"Private, For Profit",No,No,Employed-At Work
149221,316857,586910501330501,December,WY,307.4359,1153.84,40,40,1,NaN,...,3,5,"Native, Born In US",8,Computer systems design and related services (...,1010,"Private, For Profit",No,No,Employed-At Work

In [8]:
# Checking value counts of gender in the new dataframe
df['sex'].value_counts()

sex
1    3440
2    1300
Name: count, dtype: int64