# Importing libraries, Examining data

In [21]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from mizani.formatters import percent_format
import os
from plotnine import *
import numpy as np
import sys
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from stargazer import stargazer
from statsmodels.tools.eval_measures import mse,rmse

In [22]:
# Uploading csv

originaldf = pd.read_csv('https://raw.githubusercontent.com/Bomsk/DA3_2023/main/Assignment%201/morg-2014-emp.csv')

In [23]:
originaldf.head()

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,ownchild,chldpres,prcitshp,state,ind02,occ2012,class,unionmme,unioncov,lfsr94
0,3,2600310997690,January,AL,3151.6801,1692.00,40,43,1,NaN,...,0,0,"Native, Born In US",63,Employment services (5613),630,"Private, For Profit",No,No,Employed-At Work
1,5,75680310997590,January,AL,3457.1138,450.00,40,41,2,NaN,...,2,6,"Native, Born In US",63,Outpatient care centers (6214),5400,"Private, For Profit",No,No,Employed-Absent
2,6,75680310997590,January,AL,3936.9110,1090.00,60,41,2,NaN,...,2,6,"Native, Born In US",63,Motor vehicles and motor vehicle equipment man...,8140,"Private, For Profit",No,No,Employed-At Work
3,10,179140131100930,January,AL,3288.3640,769.23,40,40,1,NaN,...,2,4,"Native, Born In US",63,"**Publishing, except newspapers and software (...",8255,"Private, For Profit",Yes,NaN,Employed-At Work
4,11,179140131100930,January,AL,3422.8500,826.92,40,43,1,NaN,...,2,4,"Native, Born In US",63,"Banking and related activities (521, 52211,52219)",5940,"Private, For Profit",No,No,Employed-At Work

In [24]:
# Filtering for Education, Training, and Library Occupations

df = originaldf[
    (originaldf['occ2012'] >= 2200) &    
    (originaldf['occ2012'] <= 2550)]

df.head()

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,ownchild,chldpres,prcitshp,state,ind02,occ2012,class,unionmme,unioncov,lfsr94
7,15,199270459680970,January,AL,3633.3439,900.00,39,44,2,NaN,...,3,13,"Native, Born In US",63,"Colleges and universities, including junior co...",2200,"Private, For Profit",No,No,Employed-At Work
18,36,875095569100620,January,AL,3572.2984,102.00,12,39,2,NaN,...,0,0,"Native, Born In US",63,Elementary and secondary schools (6111),2340,Government - Local,No,No,Employed-At Work
19,37,875095569100620,January,AL,3572.2984,102.00,12,39,2,NaN,...,0,0,"Native, Born In US",63,Elementary and secondary schools (6111),2340,Government - Local,No,No,Employed-At Work
21,43,954001919079770,January,AL,2847.5801,826.92,40,44,1,NaN,...,0,0,"Native, Born In US",63,Elementary and secondary schools (6111),2310,"Private, For Profit",No,No,Employed-At Work
30,55,981709270829007,January,AL,3102.3708,68.00,8,40,1,NaN,...,0,0,"Native, Born In US",63,Elementary and secondary schools (6111),2310,"Private, For Profit",No,No,Employed-At Work

In [25]:
# Checking value counts of gender 

df['sex'].value_counts()

sex
2    7539
1    2442
Name: count, dtype: int64

In [27]:
df.transpose()

,7,18,19,21,30,49,50,77,84,112,...,149165,149187,149206,149207,149257,149258,149268,149288,149289,149291
Unnamed: 0,15,36,37,43,55,115,116,182,199,248,...,316752,316793,316831,316836,316924,316926,316940,316997,316998,317003
hhid,199270459680970,875095569100620,875095569100620,954001919079770,981709270829007,310343067909068,310343067909068,199850806010670,678011962039080,199440807350670,...,73066594500721,265755150103204,502507241610355,504170512052653,765215016909463,765341100004306,865042096909292,265639150208803,265639150208803,362590679600942
intmonth,January,January,January,January,January,January,January,January,January,January,...,December,December,December,December,December,December,December,December,December,December
stfips,AL,AL,AL,AL,AL,AL,AL,AL,AL,AL,...,WY,WY,WY,WY,WY,WY,WY,WY,WY,WY
weight,3633.3439,3572.2984,3572.2984,2847.5801,3102.3708,3613.5861,2690.8661,3791.1068,2424.1925,3477.1765,...,253.241,304.4811,344.1906,348.7045,279.5529,247.9801,500.0232,305.1383,295.9906,261.6602
earnwke,900.0,102.0,102.0,826.92,68.0,673.07,673.07,232.0,1000.0,1260.0,...,1153.84,381.23,865.38,163.8,1280.76,1550.0,400.0,1277.77,1277.77,1777.0
uhours,39,12,12,40,8,45,45,32,56,40,...,40,20,40,18,40,40,40,40,40,45
grade92,44,39,39,44,40,43,43,42,44,39,...,44,44,45,43,44,44,43,43,43,44
race,2,2,2,1,1,1,1,2,2,1,...,1,1,1,1,1,1,1,1,1,1
ethnic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,36,22,20,31,21,43,39,25,57,45,...,59,30,32,24,56,58,45,26,27,61
sex,2,2,2,2,2,1,2,1,2,2,...,2,2,1,2,2,2,2,2,1,2
marital,7,7,7,7,1,1,1,7,7,1,...,1,7,7,7,7,1,1,1,1,5
ownchild,3,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,3,0,0,0
chldpres,13,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,4,0,0,0
prcitshp,"Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US",...,"Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US","Native, Born In US"
state,63,63,63,63,63,63,63,63,63,63,...,8,8,8,8,8,8,8,8,8,8
ind02,"Colleges and universities, including junior co...",Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),...,Elementary and secondary schools (6111),"Colleges and universities, including junior co...","Colleges and universities, including junior co...","Colleges and universities, including junior co...",Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111),Elementary and secondary schools (6111)
occ2012,2200,2340,2340,2310,2310,2320,2310,2320,2310,2540,...,2300,2200,2200,2430,2330,2310,2540,2310,2310,2310
class,"Private, For Profit",Government - Local,Government - Local,"Private, For Profit","Private, For Profit",Government - Local,Government - Local,Government - Local,"Private, For Profit",Government - Local,...,Government - Local,Government - State,Government - State,Government - State,Government - Local,Government - Local,Government - Local,Government - Local,Government - Local,Government - Local
unionmme,No,No,No,No,No,Yes,Yes,No,Yes,No,...,Yes,No,No,No,No,No,No,No,No,No
unioncov,No,No,No,No,No,NaN,NaN,No,NaN,No,...,NaN,No,No,No,No,No,No,No,No,No
lfsr94,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,...,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work,Employed-At Work